.intro1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 70px) !important;
    color: #5e5b52;
    background-color: #003434;
  }

.Iam-container {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    /* height: 100vh;
    color: #5e5b52;
    background-color: #003434; */
  }
  
  .activebg {
  background-color: white;
  height: 100vh;
  } 
  
  .Iam {
    padding: 0 5em;
    font: normal 50px/60px Montserrat, sans-serif;
    color: #999;
  }
  
  .Iam p {
    height: 50px;
    margin-top: 48px;
    float: left; 
    margin-right: 0.3em;
  }
  .Iam b:hover {
    cursor: pointer;
  }
  .Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 60px;
    top: 50px;
  }
  .Iam .innerIam {
    display: inline-block;
    text-align: left;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  /*animation*/
  -webkit-animation:move 5s;
     -moz-animation:move 5s;
      -ms-animation:move 5s;
       -o-animation:move 5s;
          animation:move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }

  @keyframes move{
  0%  { top: 0px; }
  20% { top: -60px; }
  40% { top: -120px; }
  60% { top: -180px; }
  80% { top: -240px; }
  }
  
  @-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -60px; }
    40% { top: -120px; }
    60% { top: -180px; }
    80% { top: -240px; }
  }
  @-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -60px; }
    40% { top: -120px; }
    60% { top: -180px; }
    80% { top: -240px; }
  }
  @-o-keyframes move {
      0%  { top: 0px; }
  20% { top: -60px; }
  40% { top: -120px; }
  60% { top: -180px; }
  80% { top: -240px; }
  }
  @keyframes move {
      0%  { top: 0px; }
  20% { top: -60px; }
  40% { top: -120px; }
  60% { top: -180px; }
  80% { top: -240px; }
  }


  .arrow-down1{
    height: 50px;
    width: 70px;
    /* padding-bottom: 100px;
    margin-right: 220px; */
    animation: pulse 1s infinite linear;
  }

  .arrow-down1:hover{
    cursor: pointer;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.95);
    }
  
    70% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0.95);
    }
  }
  