.App {
  height: 100vh;
}

.App-body {
  height: calc(100vh - 70px);
  position: relative;
  top: 70px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
